HSMSClient/Service References/ServiceReference1/HSMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50517/HSMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HSMSWebService" />
  <xs:element name="GetAllActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HSMSWebService" minOccurs="0" name="GetAllActionsResult" nillable="true" type="q1:ArrayOfHSMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HSMSWebService" minOccurs="0" name="GetActionsByPriorityResult" nillable="true" type="q2:ArrayOfHSMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>