HSMSClient/Service References/ServiceReference1/HSMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HSMSWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HSMSWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HSMS" nillable="true" type="tns:HSMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHSMS" nillable="true" type="tns:ArrayOfHSMS" />
  <xs:complexType name="HSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organisation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HSMS" nillable="true" type="tns:HSMS" />
</xs:schema>