HSMSClient/Service References/ServiceReference1/HSMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HSMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50517/HSMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50517/HSMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50517/HSMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HSMSWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHSMSService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_getAllActions_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllActions" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_getAllActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_getActionsByPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:getActionsByPriority" />
  </wsdl:message>
  <wsdl:message name="IHSMSService_getActionsByPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActionsByPriorityResponse" />
  </wsdl:message>
  <wsdl:portType name="IHSMSService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHSMSService/GetData" message="tns:IHSMSService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHSMSService/GetDataResponse" message="tns:IHSMSService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHSMSService/GetDataUsingDataContract" message="tns:IHSMSService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHSMSService/GetDataUsingDataContractResponse" message="tns:IHSMSService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHSMSService/getAllActions" message="tns:IHSMSService_getAllActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHSMSService/getAllActionsResponse" message="tns:IHSMSService_getAllActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActionsByPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IHSMSService/getActionsByPriority" message="tns:IHSMSService_getActionsByPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHSMSService/getActionsByPriorityResponse" message="tns:IHSMSService_getActionsByPriority_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHSMSService" type="tns:IHSMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHSMSService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHSMSService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllActions">
      <soap:operation soapAction="http://tempuri.org/IHSMSService/getAllActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActionsByPriority">
      <soap:operation soapAction="http://tempuri.org/IHSMSService/getActionsByPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HSMSService">
    <wsdl:port name="BasicHttpBinding_IHSMSService" binding="tns:BasicHttpBinding_IHSMSService">
      <soap:address location="http://localhost:50517/HSMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>